@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header-img {
  width: 400px;
  height: auto;
}

.content-img {
  width: 200px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

/*
<styles-related-to-navigation-bar>
*/

.nav-bar {
  background-color: inherit;
  padding: 16px;
}

.nav-bar > ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

.nav-bar li,
.nav-bar li a {
  color: #e5e7eb;
}

.nav-bar li a {
  text-decoration: none;
}

.nav-bar .logo {
  margin-right: auto;
  margin-left: 100px;
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}

.last-list-child {
  margin-right: 300px;
}

/*
</styles-related-to-navigation-bar>
*/

.sum-info {
  flex: auto;
  display: flex;
  height: 400px;
}

.left-container, .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-container {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-container {
    flex: 1 1 auto
}

.title, .subtitle {
    width: 400px;
}

h1.title {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    padding: 0;
}

p.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

button.signup-btn {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    height: 30px;
    width: 100px;
    margin-right: 300px;
    border-radius: 8px;
}